.container{
    height: 100%;
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "n n"
        "h h"
        "a b"
        "c d"
        "e f";
}
/* mobile/small window grid */
@media screen and (max-width: 800px){
    .container{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "n"
            "h"
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }
}

/* for grid */
nav{
    grid-area: n;
    display: inline;
    text-align: center;
    margin-top: 20px;
}

header{
    grid-area: h;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pic1{
    grid-area: a;
}

.pic1:hover, .pic1:active{
    color: rgb(255, 173, 21);
}

.pic2{
    grid-area: b;
}

.pic3{
    grid-area: c;
}

.pic4{
    grid-area: d;
}

.pic5{
    grid-area: e;
}

.pic6{
    grid-area: f;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6{
    background-color: rgb(221, 221, 221);
}

/* end grid */