.container{
    height: 100%;
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "n n"
        "p h"
        "p t";
}
/* mobile/small window grid */
@media screen and (max-width: 800px){
    .container{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "n"
            "p"
            "h"
            "t";
    }
}

/* for grid */
nav{
    grid-area: n;
    display: inline;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

header{
    grid-area: h;
    padding-top: 30px;
}

.text{
    grid-area: t;
}

.picture{
    grid-area: p;
    margin-right: 50px;
}

/* end grid */

.picture{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
  
/* Pre-render the bigger shadow, but hide it */
.picture,::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
/* Transition to showing the bigger shadow on hover */
.picture,::after {
    opacity: 1;
}