.container{
    height: 100%;
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "n n"
        "h h"
        "e e"
        "x s"
        "u w"
        "i c";
}

/* mobile/small window grid */
@media screen and (max-width: 1200px){
    .container{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "n"
        "h"
        "e"
        "x"
        "u"
        "i"
        "s"
        "w"
        "c";
    }
}

/* for grid */
nav{
    grid-area: n;
    display: inline;
    text-align: center;
    margin-top: 20px;
}

header{
    grid-area: h;
    padding-top: 30px;
    padding-bottom: 30px;
}

.education{
    grid-area: e;
}

.experience{
    grid-area: x;
    margin-top: 30px;
}

.umass{
    grid-area: u;
}

.intro{
    grid-area: i;
}

.skills{
    grid-area: s;
    margin-top: 30px;
}

.software{
    grid-area: w;
    margin-top: 30px;
}

.certifications{
    grid-area: c;
    margin-top: 30px;
}

.experience, .umass, .intro{
    margin-right: 30px;
}
/* end grid */
